<div class="container-fluid p-5">
  <h1 class="text-center mb-5">Best Selling Categories</h1>
  <div class="row g-4 justify-content-center">

    <div class="col-6 col-sm-6 col-md-4 col-lg-3">
      <div class="category-card text-center">
        <img src="image4.jpeg" alt="Men's Fashion" class="category-img">
        <div class="category-btn">Birthday Cakes</div>
      </div>
    </div>

    <div class="col-6 col-sm-6 col-md-4 col-lg-3">
      <div class="category-card text-center">
        <img src="image5.jpg" alt="Women's Fashion" class="category-img">
        <div class="category-btn active">Aniversary Cakes</div>
      </div>
    </div>

    <div class="col-6 col-sm-6 col-md-4 col-lg-3">
      <div class="category-card text-center">
        <img src="image6.jpg" alt="Gadgets" class="category-img">
        <div class="category-btn">Kid's Cakes</div>
      </div>
    </div>

    <div class="col-6 col-sm-6 col-md-4 col-lg-3">
      <div class="category-card text-center">
        <img src="image7.jpg" alt="Cosmetics" class="category-img">
        <div class="category-btn">Healthy Cakes</div>
      </div>
    </div>

  </div>
</div>
