<section class="container-fluid p-5">
    <div class="row text-center pb-3">
        <div class="col-lg-6 m-auto">
            <h1 class="h1 mb-5">Our Services & Features</h1>
        </div>
    </div>
    <div class="row">

        <div class="col-md-5 col-lg-3 pb-5">
            <div class="h-100 py-5 services-icon-wap shadow bg-light">
                <div class="h1 text-success text-center"><i class="fa-solid fa-trophy"></i></div>
                <h2 class="h5 mt-4 text-center">Freshness Guaranteed</h2>
            </div>
        </div>

        <div class="col-md-2 col-lg-3 pb-5">
            <div class="h-100 py-5 services-icon-wap shadow bg-light">
                <div class="h1 text-success text-center"><i class="fa-solid fa-shield"></i></div>
                <h2 class="h5 mt-4 text-center">Secured Delivery</h2>
            </div>
        </div>

        <div class="col-md-2 col-lg-3 pb-5">
            <div class="h-100 py-5 services-icon-wap shadow bg-light">
                <div class="h1 text-success text-center"><i class="fa-solid fa-comment"></i></div>
                <h2 class="h5 mt-4 text-center">Order Tracking</h2>
            </div>
        </div>

        <div class="col-md-2 col-lg-3 pb-5">
            <div class="h-100 py-5 services-icon-wap shadow bg-light">
                <div class="h1 text-success text-center"><i class="fa-solid fa-gift"></i></div>
                <h2 class="h5 mt-4 text-center">Add-Ons & Gift Combos</h2>
            </div>
        </div>
    </div>
</section>
