.container-fluid {
  background-color: rgb(232, 226, 193);
  margin: 0 !important;
  padding: 0 1rem !important;
}

.card{
  background-color: #fdf7e6;
  border-radius: 12px;
}

.btn-primary:hover{
  background-color:darkviolet;
}