<div class="home p-5" id="home">
    <div *ngFor="let slide of slides; let i = index" class="slide-container" [class.active]="i === currentIndex">
        <div class="slide">
            <div class="content">
                <h1>{{slide.title }}</h1>
                <h4>{{slide.subtitle}}</h4>
                <p>{{slide.description}}</p>
            </div>
            <div class="image">
                <img [src]="slide.cakeImg" class="cake" alt="cake Image">
            </div>
        </div>
    </div>
    <div id="prev" class="fas fa-chevron-left prev" (click)="prev()"></div>
    <div id="next" class="fas fa-chevron-right next" (click)="next()"></div>
</div>
